.wrapper{
    color: white;
    background-position: center;
    background-size: 100%;
    height: 800px;
    width: 1170px;
    text-align: left;
    padding-left: 70px;
    padding-top: 500px;
    font-size: 130%;
}

.text{
    background-color: #4c5865;
    width:  34%;
    text-align: center;
    padding: 0 13px;
}